<footer>
    <h2>Copyright &copy;2011, Travel And Hotels</h2>
    <hr style="width: 30%; margin: 5px auto;">
    <h2>Follow us on</h2>
      <div class="icon">
        <a href="https://www.facebook.com"><img src="../resources/facebook.png" alt="fb" class="fb"></a>
        <a href="https://www.instagram.com/"><img src="../resources/instagram.png" alt="" class="inst"></a>
        <a href="https://www.twitter.com"><img src="../resources/twitter.png" alt="" class="twt"></a>
        <a href="https://mail.google.com/"><img src="../resources/email.png" alt="" class="mail"></a>
    </div>
    <h3 style="margin-bottom:4px;">Terms & Condition</h3>
    <h3>Privacy Policy</h3>
    <div id="list2">
      <div>
          <img class="call" src="../resources/phone-call.png" alt="">
          <a href="tel :+917324855901" class="tel"><b>+917324855901</b></a>
      </div>
      <div>
      <img src="../resources/worldwide.png" alt="glob.png" class="glob">
      <a href="https://goo.gl/maps/ihfDZq1suvgMBqHd7" id="oo"><b>Arrah ( Bihar )</b></a> 
      </div>
  </div>
  </footer>